/*Fonts from Google Fonts*/

@import url(https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,500;0,700;1,400;1,500;1,700&display=swap);


/* 1. GLOBAL STYLES */

body {
	background: #fff;
	font-family: 'Bellota Text', sans-serif;
	color: #2f4870;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6 {
	color: #343434;
	font-family: 'Bellota Text', sans-serif;
	font-weight: 500;
	margin: 0;
	letter-spacing: -1px;
}

p {
	font-size: 14px;
	color: #676767;
	line-height: 26px;
	font-weight: 400;
	font-family: 'Bellota Text', sans-serif;
	letter-spacing: 0.5px;
}

b, strong {
	font-weight: 700;
}

a {
	color: #343434;
}

a:hover {
	color: #ecb124;
}

a, a:hover, a:focus, button, button:hover {
	outline: 0;
	text-decoration: none;
	transition: .4s;
}

ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.space10 {
	margin-bottom: 10px;
}

.space20 {
	margin-bottom: 20px;
}

.space30 {
	margin-bottom: 30px;
}

.space40 {
	margin-bottom: 40px;
}

.space50 {
	margin-bottom: 50px;
}

.space60 {
	margin-bottom: 60px;
}

.space70 {
	margin-bottom: 70px;
}

.space80 {
	margin-bottom: 80px;
}

.space90 {
	margin-bottom: 90px;
}

.space100 {
	margin-bottom: 100px;
}

.body {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.boxed {
	background: #262626 url(../images/bg/pattern.png) repeat fixed;
}

.boxed .body {
	background: #fff;
	position: relative;
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
	overflow: hidden;
	box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

.boxed .navbar-fixed-top {
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
}


.avatar{
    margin: 10px;
    padding: 0;
    position: relative;
    width:64px;
    height:64px;
    background: #c2c2c2;
    border: 1px solid #000;
    border-radius:3px;
}



/* 3. HEADER STYLES */

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	font-family: 'Bellota Text', sans-serif;
	border-width: 0;
	border-radius: 0;

}

.navbar-inverse {
	transition: .4s;
}

.navbar {
	min-height: 86px;
	margin-bottom: 0;
	border: none;
}

.navbar-lg .navbar-brand {
	padding: 10px 0 10px;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2f4870;
	letter-spacing: 5px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #2f4870;
	background-color: transparent;
}

.navbar-lg .navbar-nav > li > a {
	padding: 40px 12px 40px;
	font-size: 12px;
	line-height: 1.6;
	color: #2f4870;
	text-transform: uppercase;
	font-weight: 700;
}
.navbar-lg .navbar-nav > li > a:hover {
	color: #ecb124;
}

.navbar-login {
	margin-top: 6px;
	margin-left: 10px;
}

.navbar-login a {
	background: #ecb124;
	border: 1px solid #ecb124;
	padding: 8px 24px !important;
	border-radius: 4px;
	font-weight: 800;
	letter-spacing: 0.2px;
	margin-top: 25px;
}

.navbar-login a:hover {
	border: 1px dashed #ecb124 !important;
	background: transparent;
	color: #ecb124;
}

.dropdown-menu {
	display: block !important;
	padding: 0;
	margin: 0;
	background: #2F2D2D;
	top: 65px;
	left: 0 !important;
	right: auto !important;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
	
}

.dropdown-menu li a:after {
	display: none;
}

.navbar-nav > li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	transition: .4s;
	border-radius: 4px;
}

.dropdown-menu > li > a {
	padding: 12px 20px;
	color: #2f4870;
	text-transform: none;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.2px;
	width: 100%;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 14px;
	margin-left: 13px;
	border: none;
}

.dropdown-menu > li > a:hover {
	color: #ecb124;
	background: transparent;
}

.mega-menu {
	width: 100%;
	position: absolute;
	left: 15px !important;
	right: 0px !important;
	top: 79px;
	max-width: 1155px;
	margin: 0 auto !important;
	float: none;
	padding: 20px 0;
}

.mm-menu , .navbar-right {
	position: static !important;
}

.mm-menu .dropdown-menu > li > a {
	border-bottom: none;
}

.dropdown-menu > li > a {
	text-transform: uppercase;
}

.section-head {
	position: relative;
	z-index: 55;
}

.section-head h1 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 15px;
	font-size: 25px;
	letter-spacing: 3px;
}

.section-head-lite h1 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 15px;
	font-size: 25px;
	letter-spacing: 3px;
	color: #fff;
}

.section-head-lite p {
	color: #2f4870;
	opacity: 0.7;
}

/* 4. INTRO STYLES */

.intro {
	position: relative;
}

.intro .container,
.intro img {
	position: relative;
	z-index: 77;
}

.overlay {
	background: #151515;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/* 4.8. Intro / 8 */

.intro-benifits {
	background: #f8f8f8;
	background-size: cover;
}
.benifits h3{
	font-size: 32px;
	line-height:45px;
	color:#414e5b;
	font-weight:700;
}
.benifits p{
	color:#414e5b;
	font-size: 20px;
	line-height:28px;
	text-indent: 25px;
}
.benifits p span{
	font-size: 35px;
	font-family: Josefin Sans;
	font-weight:500;
	padding: 0px 5px 5px 0px;
	vertical-align:-moz-middle-with-baseline;
}
.intro-benifits2 {
	padding-top:50px;
	background: #fff;
	background-size: cover;
}
.intro-benifits2 h3 {
	font-size: 32px;
	line-height:45px;
	color:#ecb124;
	font-weight:700;
}
.intro-benifits2 p{
	padding-top:20px;
	padding-bottom:20px;
}
.intro8 {
	background: #262626 url(../images/bg/8.jpg) no-repeat center;
	background-size: cover;
	padding: 150px 0 100px;
}

.intro8 .overlay {
	background: #000;
	opacity: 0.60;
}

.intro8 h3 {
	color: #2b2a29;
	margin: -40px 0px 30px;
	font-size: 55px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 53px;
}

.intro8 p {
	font-size: 15px;
	font-weight: 400;
	color: #2d456b;
	opacity: 1;
	padding: 0 0 20px;
	line-height: 28px;
}

.intro-video-pop {
	line-height: 70px;
	color: #fff;
	font-size: 12px;
	position: relative;
	font-family: Josefin Sans;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	border: 1px solid rgba(255,255,255,0.15);
	padding: 12px 18px 12px 12px;
	display: table;
	border-radius: 5px;
	transition:.4s;
}

.intro-video-pop:hover {
	background:rgba(0,0,0,0.2);
	transition:.4s;
}

.intro-video-pop i {
	position: absolute;
	top: 32px;
	left: 60px;
	font-size: 30px;
}

.intro-video-pop img {
	float: left;
	height: 70px;
	margin-right: 15px;
	border-radius: 3px;
	webkit-box-shadow: 0px 0 10px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0 10px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0 10px 1px rgba(0,0,0,0.4);
	width: 110px;
}


/* 4.20. Intro / 20 */

.intro20 {
	background: #262626 url(../images/bg/20.jpg) no-repeat center;
	background-size: cover;
}

.intro20 .overlay {
	opacity: 0.5;
	background: #262626;
}

.btn {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-transform:capitalize;
	padding: 11px 28px;
	border: none;
	font-family: 'Bellota Text';
}

.btn i {
	margin-left: 10px;
	position: relative;
	top: 1px;
}

.btn .fa {
	margin-left: 12px;
	position: relative;
	top: 0px;
	font-size: 14px;
}

.btn.btn-primary {
	background: #414e5b;
	border: 1px solid #414e5b;
	color: #fff;

}

.btn.btn-primary:hover {
	border: 1px dashed #414e5b !important;
	background: transparent;
	color: #414e5b
}

.btn.btn-primary-pricing {
	background: #ecb124;
	border: 1px solid #ecb124;
	border-radius: 100px;
	color: #fff;
	margin-left: 6px;
}
.btn.btn-primary-pricing:hover {
	border: 1px dashed #ecb124 !important;
	background: transparent;
	color: #ecb124;
}


.btn.btn-default {
	color: #fff;
	background-color: transparent;
}

.btn.btn-default:hover {
	border: 1px #ecb124 !important;
    background: #ecb124;
    color: #fff;
}
	
.btn.btn-light:hover {
	border: 1px dashed #fff !important;
	background: transparent;
	color: #fff;
}


.btn.btn-dark {
	color: #fff;
	background-color: #414e5b;
	border: 1px solid #414e5b;
}

.btn.btn-dark:hover {
	color: #ecb124;
	background-color: transparent;
	border: 1px dashed #414e5b;
}

.btn.btn-lg {
	font-size: 14px;
}

.btn-cta {
	padding: 15px !important;
	width: 100%;
	max-width: 300px;
}

.cta-btn {
	font-family: Josefin Sans;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.025em;
	color: #343434333;
	border: 2px solid #343434;
	text-align: center;
	text-transform: uppercase;
	height: 50px;
	line-height: 45px;
	display: table;
	margin: 3px 0;
	float: right;
	padding: 0 20px;
}

/* 5. ICON BOX / SERVICES STYLES */

.services {
	padding: 100px 0 0;
	color: #343434333;
}

.service-box {
	text-align: center;
}

.service-box i {
	font-size: 70px;
	color: #ecb124;
}

.service-box h4 {
	margin: 25px 0 20px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.2px;
}

.service-box p {
	font-size: 14px;
	padding: 0 15px;
}

.icon-box {
	padding: 30px 0;
}

.icon-box::before {
	display: none;
}

.service2 {
	background: #ecb124;
	padding: 100px 0;
}

.s2-box-ico div {
	font-size: 46px;
	line-height: 128px;
	height: 110px;
	width: 110px;
	margin: 0 auto 25px;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #fff inset;
	position: relative;
	overflow: hidden;
}

.s2-box-ico div:after {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	height: 0;
	width: 100%;
	background-color: #fff;
	transition: .4s;
}

.s2-box:hover .s2-box-ico div:after {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	transition: .4s;
}

.s2-box:hover .s2-box-ico div i {
	position: relative;
	z-index: 55;
}

.s2-box:hover .s2-box-ico div {
	color: #ecb124;
}

.s2-box h4 {
	margin: 0px 0px 15px;
	font-size: 07px;
	font-weight: 400;
	color: #fff;
}

.s2-box p {
	color: #fff;
	padding: 0 15px;
}

.service3 {
	padding: 70px 0 70px;
}

.icon-box-square .text-center {
	padding: 30px 30px 15px;
	position: relative;
	text-align: left;
	box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.2);
	border: 2px solid #ecb124;
}

.icon-box-square .text-center span {
	position: absolute;
	border-radius:100px;
	height: 50px;
    width: 50px;
	top: -25px;
	background: #ecb124;
	color: #fff;
}

.icon-box-square .text-center h2 {
	font-weight: 700;
	font-size: 18px;
	text-transform:capitalize;
	text-align: left;
	letter-spacing: 0.2px;
	margin: 15px 0 15px;
}
.icon-box-square .text-center span i{
	font-size: 26px;
	text-align: center;
	color: #fff;
	padding-left: 12px;
	padding-top: 12px;
}

.icon-box-square .text-center p {
	font-size: 14px;
}

/* 6. INFO STYLES */

.info-content h3 {
	font-weight: 600;
	font-style:italic;
	letter-spacing:0.2px;
	font-size: 18px;
	margin: 0px 0 20px;
}

.keysize i {
	color:#222;
	font-size: 28px;
	padding-right:11px;
}

.info-content h4 {
	font-weight: 400;
	font-size: 30px;
	margin: 0px 0 20px;
	line-height: 40px;
}

.info-content p {
	margin: 0 0 10px;
}

.list li {
	padding: 6px 0 9px 35px;
	position: relative;
	color: #555;
}

.list li i {
	min-width: 30px;
	color: #ecb124;
	position: absolute;
	left: 0;
	top: 4px;
	font-size: 25px;
}

/* 7. TESTIMONIAL STYLES */

.testimonials {
	background: #070707 url(../images/bg/255.html) no-repeat center;
	background-size: cover;
	margin-top: -70px;
	padding: 160px 0;
}

.testimonials p {
	font-size: 23px;
	line-height: 32px;
	font-weight: 300;
	color: #fff;
	padding: 0 07% 20px;
	letter-spacing: -0.3px;
}

.testimonials .author {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	color: #fff;
}

.testimonials i {
	color: #fff;
	font-size: 75px;
	margin: 0px auto 30px;
	display: table;
}

/* 8. ABOUT */

.about-inline {
	padding: 50px 0 0 0;
}

.about-inline .ai-slide {
	width: 1080px;
	position: relative;
	margin: 0 auto;
}

.about-inline .ai-slide .center-block {
	width: 1080px;
}

.ai-slide-img {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.ai-slide-img {
	position: absolute;
	width: 710px;
	overflow: hidden;
	height: 442px;
	margin: 0 auto;
	display: block;
	left: -7px;
	right: 0;
	top: 39px;
}

.ai-slide-img-inner {
	width: 100%;
}

.ai-slide-img img {
	width: 100%;
	float: left;
}

.about-inline h3 {
	color: #343434;
	margin-bottom: 70px;
	font-size: 34px;
	line-height: 41px;
	font-weight: 700;
}

.about-inline p {
	font-size: 17px;
	padding: 0 14%;
}

.ai-list {
	margin-top: 40px;
}

.ai-list ul li {
	display: inline-block;
	color: #343434;
	min-width: 160px;
	padding: 0 15px;
	font-weight: 700;
	font-size: 13px;
	line-height: 30px;
	border-left: 1px solid #ddd;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

.ai-list ul li:first-child {
	border-left: none;
}

.ai-list ul li i {
	display: block;
	margin-bottom: 22px;
	font-size: 60px;
	color: #ecb124;
	transition: .4s;
}

.ai-list ul li:hover i {
	transform: scale(1.2);
	transition: .4s;
}

.ai-list ul li:hover {
	cursor: pointer;
}

.ai-slide-img-inner {
	position: relative;
	left: 0%;
	width: 300%;
}

.ai-slide-img-inner div {
	text-align: center;
	float: left;
	width: 33.33333%;
	overflow: hidden;
}

.ai-slide-img-inner {
	transition: .4s;
}

.ai-slide2-active {
	position: relative;
	left: 0%;
}

.ai-slide2-active {
	position: relative;
	left: -100%;
}

.ai-slide3-active {
	position: relative;
	left: -200%;
}

.info-content2 {
	padding: 0px 0 0px !important;
	background: #414e5b !important;
}
.info-content2 p{
	font-style:italic;
}
.info-content2 h3 {
	font-weight: 600;
	font-size: 28px;	
	letter-spacing: 0.2px;
	color: #fff;
}

.info-content2 p {
	margin: 0 0 20px;
	color: #fff;
}

.info-content2 .list li {
	padding: 9px 0 9px 35px;
	font-size: 15px;
	color: #fff;
	position: relative;
}

.info-content2 .list li i {
	text-align: center;
	color: #fff;
	position: absolute;
	top: 7px;
	font-size: 20px;
}


.complete-works {
	padding: 30px 0 30px 0;
	background: #414e5b !important;
}
.complete-works p{
	font-style:italic;
}
.complete-works h3 {
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 0.2px;
	color: #fff;
}

.complete-works h1 {
	font-weight: 800;
	font-size: 48px;
	letter-spacing: 0.2px;
	color: #fff;
}

.complete-works p {
	margin: 0 0 0px;
	color: #fff;
}

.complete-works .list li {
	padding: 9px 0 9px 15px;
	font-size: 15px;
	color: #fff;
	position: relative;
}

.complete-works .list li i {
	text-align: center;
	color: #fff;
	position: absolute;
	top: 7px;
	font-size: 20px;
}

.basic-services {
	padding: 30px 0 30px 0;
	background: #ffffff !important;
}
.basic-services p{
	font-style:italic;
}
.basic-services h3 {
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 0.2px;
	color: #fff;
}
.basic-services p {
	margin: 0 0 0px;
	color: #fff;
}


.advantages {
	padding: 30px 0 30px 0;
	background: #c9c9c9 !important;
}
.advantages p{
	font-style:italic;
	color: #414e5b;
	padding: 30px 0 30px 0;
}
.advantages h3 {
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 0.2px;
	color: #2f4870;
	text-align: center;
}

.advantages h4 {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.1px;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align: center;
}

.other-menu {
    background: #262626 url(../images/bg/8.jpg) no-repeat center;
}



/* 9. VIDEO BOX */

.video-box {
	position: relative;
	display: table;
	width: 100%;
}

.video-box img {
	border-radius: 3px;
}

.video-box span {
	width: 100px;
	height: 100px;
	background: #fff;
	color: #000;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	left: 50%;
	webkit-box-shadow: 0px 40px 40px -30px rgba(0,0,0,1) !important;
	-moz-box-shadow: 0px 40px 40px -30px rgba(0,0,0,1) !important;
	box-shadow: 0px 40px 40px -30px rgba(0,0,0,1) !important;
	transform: translate(-50%,-50%);
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
}

.video-box:hover span {
	width: 105px;
	height: 105px;
	color: #ecb124;
	line-height: 105px;
	font-size: 35px;
	transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
}

.video-box:hover a span {
	color: #ecb124;
}

/* 10. FEATURES */

.features-content {
	padding: 100px 0;
}

.fc-info div {
	padding: 25px 15px;
}

.fc-info h4 {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0;
	margin: 0 0 10px;
}

.fc-info p {
	font-size: 14px;
	line-height: 23px;
}

.fc-info a {
	color: #ecb124;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	font-family: Josefin Sans;
}

.fc-info a i {
	margin-left: 5px;
}

/* 11. PRICING TABLE */

.pricing {
	padding: 10px 0;
	background: #fff;
}

.pricing__item {
	letter-spacing: 0.2px;
	margin: 0;
	padding: 15px 38px 40px;
	text-align:center;
	color: #000;
	background: #fff;
	position: relative;
	box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.2);
	border: 2px solid #ddd;
	border-radius: 7px;
}

.pricing__item__popular {
	border-radius: 7px;
	border: 2px solid #ecb124;
}

.pricing__title {
	font-size: 20px;
	margin: 0px 0px 10px;
	color: #222222;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
}

.pricing__price {
	width:255px;
	height:139px;
	background-color:#f2f2f2;
	margin-left:-40px;
	font-size: 65px;
	font-weight: 700;
	padding: 30px 0 20px;
	color: #000;
	font-family: Josefin Sans;
	text-align: center;
}
.pricing__price_blue{
	background-color:#ecb124 !important;
	color:#FFF;
}
.pricing__currency_blue{
	color:#FFF !important;
}
.pricing__currency {
	font-size: 25px;
	vertical-align: super;
	color: #000;
}

.pricing__feature-list {
	font-size: 0.95em;
	margin: 0;
	padding: 0 0 2.5em;
	list-style: none;
	color: #666;
	padding-top: 30px;
}

.pricing__feature {
	position: relative;
	display: block;
	padding: 0px 0px 20px 0px;
	line-height: 1.5;
	color: #343434;
	text-align: center;
}

.pricing__action {
	margin-top: auto;
	font-size: 1.55em;
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	border-radius: 30px;
	background: #fff;
	border: none;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
	float: right;
}

.pricing__item .btn {
	background: #ecb124;
	border-color: #ecb124;
	width: 100%;
	margin: 0 auto;
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #fff;
}

.pricing__item:nth-child(2) .pricing__action {
	background: #E25ABC;
}

.pricing__item:nth-child(3) .pricing__action {
	background: #7E5AE2;
}

.pricing__action:hover,
.pricing__action:focus {
	background: #1A1F28 !important;
}



/* 12. CLIENTS */

.clients {
	padding: 50px 0;
}

.clients li {
	width: 20%;
	float: left;
	padding: 0 30px;
}

.clients img {
	opacity: 0.3;
	transition: .4s;
}

.clients img:hover {
	opacity: 1;
	transition: .4s;
}

/* 13. PAGE HEADER */

.page_head {
	background: url(../images/bg/1.jpg) no-repeat top;
	background-size: cover;
	padding: 160px 0 80px;
}

.page_head h3 {
	color: #fff;
	font-size: 55px;
	font-weight: 700;
	margin: 0 0 10px;
}

.page_head p {
	color: #fff;
}

/* 14. BLOG STYLES */

.blog-content {
	padding: 5px 0;
}

.blog-content article {
	margin-bottom: 60px;
}

.blog-content article .post-cat {
	font-family: Josefin Sans;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 0.8px;
	padding: 4px 12px;
	margin: 0 0 17px;
	display: table;
}

.blog-content article .post-cat.food {
	border: 2px solid #e67e22;
	color: #e67e22;
}

.blog-content article .post-cat.automobiles {
	border: 2px solid #3498db;
	color: #3498db;
}

.blog-content article .post-cat.photography {
	border: 2px solid #1abc9c;
	color: #1abc9c;
}

.blog-content article .post-cat.art {
	border: 2px solid #2ecc71;
	color: #2ecc71;
}

.blog-content article .post-title {
	font-size: 26px;
	letter-spacing: -1px;
	padding: 0 0 10px;
	color: #000;
	font-weight: 500;
	line-height: 29px;
}

.blog-single .post-title {
	font-size: 34px !important;
}

.blog-content article .post-title a {
	color: #000;
}

.blog-content article .post-meta {
	font-size: 13px;
	padding: 5px 0 20px;
	display: table;
	letter-spacing: 0.5px;
	font-weight: 400;
	text-transform: uppercase;
}

.blog-content article .post-meta i {
	margin-right: 5px;
}

.blog-content .post-thumb {
	border-radius: 5px;
	margin: 0 0 25px;
	width: 100%;
}

.blog-full-2col h2.post-title {
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: Josefin Sans;
}

.blog-full-3col h2.post-title {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: Josefin Sans;
	line-height: 24px;
}

.rmore {
	color: #ecb124;
	font-weight: 400;
	padding: 5px 0 0;
	display: table;
	font-family: Josefin Sans;
	font-size: 13px;
}

.rmore i {
	margin-left: 5px;
	position: relative;
	top: 1px;
}

.pagination {
	display: table;
	margin: 0 auto;
}

.pagination > li > a {
	border-radius: 5px;
	margin: 0 5px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	color: #555;
	border: 1px solid #d5d5d5;
}

.pagination > li.active a:hover ,
.pagination > li a:hover ,
.pagination > li a:focus ,
.pagination > li.active a {
	background: #ecb124;
	border: 1px solid #ecb124;
	color: #fff;
}

.pagination > li > a i {
	font-style: normal;
	position: relative;
	top: -1px;
	font-size: 22px;
}

/* 07. MAILCHIMP */

/* 22. ELEMENTS */

.elements-content {
	padding: 30px 0;
}

.elements-content ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: disc;
}

.border-top {
	border-top: 1px solid #eee;
}

.progress-bar-success {
	background-color: #ecb124;
}

.progress {
	margin-top: 40px;
	position: relative;
	overflow: visible;
}

.progress h5 {
	position: absolute;
	top: -22px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	color: #000;
}

.progress-bar {
	border-radius: 4px;
}

.progress-stack .progress-bar {
	border-radius: 0px;
}

.progress-stack .progress-bar:first-child {
	border-radius: 4px 0 0 4px;
}

.progress-stack .progress-bar:last-child {
	border-radius: 0 4px 4px 0;
}

#accordion .panel-heading {
	padding: 0;
}

.panel-title > a {
	padding-left: 45px !important;
	position: relative;
}

#accordion .panel-title > a {
	display: block;
	padding: 18px 20px;
	outline: none;
	font-weight: 400;
	text-decoration: none;
	background: transparent;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0;
}

.accordion-faq .panel-title > a {
	text-transform: none !important;
	color: #000;
	font-size: 15px !important;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before {
	content: "\f077";
	float: left;
	font-family: 'FontAwesome';
	margin-right: 1em;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -8px;
	font-size: 15px;
}

#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before {
	content: "\f078";
}

#accordion .panel-default > .panel-heading {
	background-color: transparent;
	border-color: #ddd;
}

#accordion .panel {
	margin-bottom: 15px;
	border-radius: 0 !important;
}

#accordion .panel-body {
	padding: 20px 25px;
	line-height: 24px;
	font-size: 15px;
}

.accordion-dark .panel {
	background: transparent;
	border: 1px solid #444;
}

.accordion-dark .panel-default > .panel-heading {
	border-color: #444 !important;
}

.accordion-dark .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #444;
}

.accordion-dark .panel-title > a {
	color: #fff;
}
.faq h4{
	color:rgb(55, 64, 72);
	font-size: 18px;
	font-weight:bold;
	letter-spacing:0.2px;
}
.faq h4 span{
	color:#ecb124;
	font-size: 48px;
	font-family: Josefin Sans;
	font-weight:100;
	padding: 0px 5px 10px 0px;
	vertical-align:-moz-middle-with-baseline;
}

.bg-primary {
	background: #414e5b;
}

.bg-primary-image {
	background:url(../images/5.jpg);
}

.bg-dark {
	background: #222;
}

.bg-dark-image {
	background:url(../images/6.jpg);
}

.nav-tabs {
	border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}

.nav-tabs > li > a {
	border: none;
	color: #666;
	font-family: Josefin Sans;
	color: #000;
	text-transform: uppercase;
	font-size: 13px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #ecb124 !important;
	background: transparent;
}

.nav-tabs > li > a::after {
	content: "";
	background: #ecb124;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1);
}

.tab-nav > li > a::after {
	background: #ecb124;
	color: #fff;
}

.tab-pane {
	padding: 15px 0;
}

.tab-content {
	padding: 25px 15px 0;
}

.lead a {
	color: #ecb124;
}

.blog-excerpt p {
	font-size: 15px;
	letter-spacing: 0.3px;
	line-height: 25px;
	margin: 0 0 15px;
}

blockquote {
	padding: 11px 20px;
	margin: 20px 3% 30px;
	border-left: 5px solid #ecb124;
	line-height: 31px;
	font-style: italic;
	color: #343434;
	font-size: 16px;
	font-family: Josefin Sans;
}

blockquote cite {
	font-family: Josefin Sans;
	display: block;
	font-style: normal;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
}

blockquote.inverse {
	border-left: none;
	border-right: 5px solid #ecb124;
	text-align: right;
}

blockquote.pull-left {
	width: 35%;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
}

blockquote.pull-right {
	width: 35%;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.clients2 {
	list-style: none;
	overflow: hidden;
	display: block;
	width: 100%;
}

.clients2 li {
	width: 20%;
	float: left;
	position: relative;
	padding: 40px 30px;
}

.clients2 li:before {
	content: "";
	height: 100%;
	top: 0;
	left: -1px;
	position: absolute;
	border-left: 1px solid #e5e5e5;
}

.clients2 li:after {
	content: "";
	width: 100%;
	height: 0;
	top: auto;
	left: 0;
	bottom: -1px;
	position: absolute;
	border-bottom: 1px solid #e5e5e5;
}

.clients2 img {
	opacity: 0.3;
	transition: .4s;
	max-width: 140px;
}

.clients2 img:hover {
	opacity: 1;
	transition: .4s;
}

.process-step .btn:focus {
	outline: none;
}

.process {
	display: table;
	width: 100%;
	position: relative;
}

.process-row {
	display: table-row;
}

.process-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.process-row:before {
	top: 40px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	z-order: 0;
}

.process-step {
	display: inline;
	text-align: center;
	position: relative;
	float: left;
	width: 20%;
}

.process-step p {
	margin-top: 4px;
}

.btn-circle {
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
	padding: 0;
	line-height: 91px;
	font-style: normal;
	border: 1px solid #e5e5e5 !important;
}

.btn-circle:hover,
.btn-info {
	background: #ecb124 !important;
	border-color: #ecb124 !important;
}

.process-step .btn .fa {
	margin-left: 0;
	position: relative;
	top: 0px;
	font-size: 25px;
}

.process-step small {
	display: block;
	font-family: Josefin Sans;
	color: #000;
	text-transform: uppercase;
	padding-top: 18px;
}

.process-step2 .btn:focus {
	outline: none;
}

.process2 {
	display: table;
	width: 100%;
	position: relative;
}

.process-row2 {
	display: table-row;
}

.process-step2 button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.process-step2 {
	display: inline;
	text-align: center;
	position: relative;
	float: left;
	width: 25%;
}

.process-step2 p {
	margin-top: 4px;
}

.process-step2 .btn-circle {
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
	padding: 0;
	line-height: 91px;
	font-style: normal;
	border: 1px solid #777 !important;
	background: #777;
	color: #fff;
}

.process-step2 .btn-circle:hover,
.process-step2 .btn-info {
	background: #ecb124 !important;
	border-color: #ecb124 !important;
}

.process-step2 .btn .fa {
	margin-left: 0;
	position: relative;
	top: 0px;
	font-size: 25px;
}

.process-step2 small {
	display: block;
	font-family: Josefin Sans;
	color: #999;
	text-transform: uppercase;
	padding-top: 18px;
}

.process-row2:before {
	top: 40px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 76%;
	height: 1px;
	border-bottom: 1px dashed #555;
	z-order: 0;
	margin: 0 auto;
	display: table;
	left: 0;
	right: 0;
}

.process2 + .tab-content h3 {
	color: #fff;
}

.process2 + .tab-content p {
	color: #fff;
	opacity: 0.4;
}

/* 23. COMMENTS */

.comments {
}

.comments h2 {
	margin: 40px 0px 30px;
	letter-spacing: 4px;
	font-size: 07px;
	text-transform: uppercase;
	font-weight: 500;
}

.comments .media {
	margin: 0px 0px 20px;
	padding: 25px 0;
	border-bottom: 1px solid #e5e5e5;
}

.media-sub {
	width: 95%;
	margin-left: 5% !important;
}

.media-object {
	display: block;
	border-radius: 50%;
	max-width: 60px;
}

.media-heading {
	margin: 0px 0px 12px;
	font-size: 15px;
	letter-spacing: 0;
	text-transform: uppercase;
}

.media-heading small {
	letter-spacing: 0;
}

.media-body {
	font-size: 13px;
	line-height: 22px;
}

.blog-comment {
}

.blog-comment h2 {
	margin: 70px 0px 30px;
	letter-spacing: 4px;
	font-size: 07px;
	text-transform: uppercase;
	font-weight: 500;
}

.comment-form input {
	border: 1px solid #e5e5e5;
	height: 50px;
	margin-bottom: 15px;
	padding: 0 25px;
	border-radius: 0;
	width: 100%;
}

.comment-form textarea {
	border: 1px solid #e5e5e5;
	height: 120px;
	margin-bottom: 15px;
	padding: 25px 25px;
	border-radius: 0;
	width: 100%;
}

/* 24. FOOTER */

footer {
	background: #c9c9c9;
	padding: 50px 0 30px;
}

footer .list-inline li {
	width: 20%;
	padding: 0;
	display: inline;
	float: left;
}

.contact-info {
	padding: 10px 0;
	text-align: center;
	color: #000;
	font-weight: 400;
	font-size: 13px;
	border-right: 1px solid #fff;
	font-family: Josefin Sans;
	letter-spacing: 0.5px;
}

.contact-info i {
	color: #ecb124;
	display: block;
	font-size: 25px;
	margin-bottom: -5px;
}

.footer-social {
	padding-left: 25px;
	margin-top: 10px;
}

.footer-social a {
	font-size: 19px;
	margin-left: 12px;
	margin-top: 30px;
}

.footer-logo {
	line-height: 110px;
	padding: 0px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	margin: 0;
	position: relative;
	font-family: Josefin Sans;
	letter-spacing: 4px;
}

.footer-copy {
	background: #262626;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.2px;
}

.slick-dots {
	margin: 15px auto;
	position: relative;
	left: 0;
	display: table !important;
}

.slick-dots li {
	float: left;
	margin-right: 7px;
}

.slick-dots li button {
	border: none;
	width: 8px;
	height: 8px;
	font-size: 0px;
	padding: 0;
	border-radius: 50%;
	opacity: 0.2;
}

.slick-dots li.slick-active button {
	opacity: 1;
}

/* Intro DEMO */

.intro-demo {
	background: #222 url(../images/bg/intro.jpg) no-repeat top center;
	background-size: cover;
	padding: 240px 0 100px;
}

.intro-demo .overlay {
	background: #fff;
	opacity: 0;
}

.intro-demo h2 {
	color: #000;
	font-size: 40px;
	line-height: 55px;
	margin: 0px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.intro-demo p {
	color: #000;
	font-size: 24px;
	line-height: 40px;
	margin: 0 0 60px;
	font-weight: 300;
	font-family: Josefin Sans;
	letter-spacing: 0.2px;
}

.dual-btn a {
	margin: 0 10px;
}

#demo {
	background: #fff;
	padding: 60px 55px 0;
}

#demo h5 {
	color: #262626;
	text-transform: uppercase;
	margin: 0px 0px 65px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
}

.demo-img {
	webkit-box-shadow: 0px 40px 80px -40px rgba(0,0,0,1) !important;
	-moz-box-shadow: 0px 40px 80px -40px rgba(0,0,0,1) !important;
	box-shadow: 0px 40px 80px -40px rgba(0,0,0,1) !important;
	margin: 0 0 50px;
	border-radius: 3px;
	overflow: hidden;
	max-height: 240px;
	transform: scale(1);
	transition: .4s;
}

.demo-img:hover {
	transform: scale(1.05);
	transition: .5s;
}

.demo-info h3 {
	color: #fff;
}

.demo-info h3 span {
	color: #e10052;
	font-size: 38px;
}

.demo-info p {
	color: #fff;
	opacity: 0.4;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.demo-info {
	background: #252525;
	padding: 100px 0 140px !important;
}

.b-settings-panel {
	width: 200px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    z-index: 1000000;
    padding: 50px 0 0;
    background: #000;
    border-right: none;
    border-radius: 4px;
    color: #676767;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
}

.b-settings-panel.active {
	padding: 80px 0 0;
	top: 0;
	left: 0;
	height: 45%;
	width: 300px;
	border-radius: 0px;
	transform: translateY(0%);
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.btn-settings {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0;
	cursor: pointer;
	color: #fff;
	font-family: Josefin Sans;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 10px;
	background: #262626;
	letter-spacing: 2px;
	padding: 0 25px;
}

.simplebar {
	overflow: scroll;
	overflow-x: hidden;
	display: block;
	height: 100%;
	width: 317px;
}

.btn-settings i {
	float: right;
	font-size: 20px;
	position: relative;
	top: 16px;
	right: -5px;
}

.settings-section {
	padding: 0px;
	font-family: Josefin Sans;
	display: table;
	margin: 0 auto;
}

.b-settings-panel span {
	vertical-align: top;
	text-align: left;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 23px;
}

.b-switch {
	display: inline-block;
	width: 40px;
	height: 24px;
	position: relative;
	margin: 0 9px;
	padding: 1px;
	border-radius: 15px;
	background: #555;
}

.switch-handle {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0px;
	right: 24px;
	margin-right: -25px;
	border-radius: 50%;
	background: #ecb124;
	cursor: pointer;
	-webkit-transition: right 0.2s ease-in-out;
	transition: right 0.2s ease-in-out;
}

.switch-handle:before {
	content: '';
	display: block;
	margin: 9px auto;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

.switch-handle.active {
	right: 100%;
}

.bg-list, .color-list {
	padding: 25px;
	font-size: 0;
	letter-spacing: -.31em;
	word-spacing: -.43em;
	
}

.bg-list div, .color-list div {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 4px 0px 4px 6px;
	padding: 0;
	border-radius: 4px;
	border: 0;
	background-clip: content-box;
	cursor: pointer;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.bg-list div.active, .color-list div.active {
	opacity: 1;
	border: 1px solid #555;
}

.color-list div.active {
	box-shadow: inset 0 0 0 2px #000, inset 0 0 0 3px #000;
}

.b-settings-panel h5 {
	margin-left: 3px;
	margin-bottom: 13px;
	text-align: left;
	font-size: 13px;
	color: #777;
	display: none;
}

.gallery-item {
	overflow: hidden;
	position: relative;
}

.gallery-item i {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	margin: -20px auto 0;
	z-index: 55;
	font-size: 30px;
	transform: scale(0);
	color: #000;
	transition: .4s;
	text-align: center;
	width: 100%;
}

.gallery-item:hover i {
	transform: scale(1);
	color: #000;
	transition: .4s;
}

.gallery-item img {
	position: relative;
	opacity: 1;
	transition: .4s;
}

.gallery-item:hover img {
	position: relative;
	opacity: 0.3;
	transition: .4s;
}

.parallax-content {
	background: url(../images/parallax/1.jpg) no-repeat center fixed;
	background-size: cover;
	padding: 55px 0;
	position: relative;
}

.parallax-content .overlay {
	background: #000;
	opacity: 0.7;
}

.parallax-content .container {
	position: relative;
	z-index: 55;
}

.parallax2 {
	background:url(../images/parallax/2.jpg) no-repeat center fixed;
	background-size: cover;
}

.parallax3 {
	background: url(../images/parallax/3.jpg) no-repeat center fixed;
	background-size: cover;
}

.parallax4 {
	background: url(../images/parallax/4.jpg) no-repeat center fixed;
	background-size: cover;
}

.parallax5 {
	background: url(../images/bg/2.jpg) no-repeat center fixed;
	background-size: cover;
}

.parallax-content h4 {
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	text-align:left;
	letter-spacing: 0.2px;
}

.parallax-content h5 {
	color: #fff;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.parallax-content p {
	color: #fff;
	font-size: 16px;
	text-align:left;
	padding: 10px 0 0;
}

.testimonials-white {
	background-color: #f2f2f2;
	padding: 30px 0 30px 0;
}

.testimonials-white .author {
	font-weight: bold;
	font-size: 16px;
	text-transform:capitalize;
	letter-spacing: 0.2px;
	color: #ecb124;
}
.testimonials-white .author-job {
	font-size: 13px;
	text-transform:capitalize;
	letter-spacing: 0.2px;
	color: #777;
}

.testimonials-white i {
	color: #333;
	font-size: 75px;
	margin: 0px auto 30px;
	display: table;
}

.quote2 .slick-dots {
	margin: 15px auto;
	position: relative;
	left: 0;
	display: table !important;
}

.quote2 .slick-dots li {
	float: left;
	margin-right: 7px;
}

.quote2 .slick-dots li button {
	border: none;
	width: 8px;
	height: 8px;
	font-size: 0px;
	padding: 0;
	border-radius: 50%;
	opacity: 0.2;
	border: 1px solid #000;
}

.quote2 .slick-dots li.slick-active button {
	opacity: 1;
}

.img1{
	border-radius: 100px;
	border: 1px solid #ddd;
	width: 50px;
	height: 50px;
}

.text-white {
	color: #fff !important;
}

#stats1 {
	padding: 70px 0;
}

.stats1-info {
	text-align: center;
}

.stats1-info p {
	color: #000;
	font-size: 40px;
	margin: 0 0 20px;
	font-family: Josefin Sans;
}

.stats1-info h2 {
	color: #000;
	font-size: 12px;
	font-family: Alegreya Sans;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}

.stats1-info i {
	color: #ecb124;
	font-size: 40px;
	margin: 0 auto 25px;
	display: table;
}

#stats2 {
	padding: 30px 0;
}

.stats2-info {
	text-align: center;
}

.stats2-info p {
	color: #ecb124;
	font-size: 40px;
	margin: 0 0 20px;
	font-family: Alegreya Sans;
}

.stats2-info h2 {
	color: #fff;
	font-size: 12px;
	font-family: Alegreya Sans;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}

.stats2-info i {
	color: #fff;
	font-size: 40px;
	margin: 0 auto 25px;
	display: table;
}

#stats8 {
	padding: 120px 0;
}

.stats8-info {
	text-align: center;
}
.stats8-info p {
	color: #a2a2a2;
	font-size: 40px;
	margin: 0 0 20px;
	font-family: Josefin Sans;
}
.stats8-info h2 {
	color: #a2a2a2;
	font-size: 12px;
	font-family: Josefin Sans;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}
.stats8-info i {
	color: #a2a2a2;
	font-size: 40px;
	margin: 0 auto 25px;
	display: table;
}

.elements-content p {
	font-size: 16px;
	text-indent: 25px;
}

/* flip boxes */
.flips1 {
	width: 100%;
	height: 320px;
	margin: 0;
	position: relative;
}

.flips1 p {
	color: #fff;
	opacity: 0.7;
}

.flipscont1 {
	width: 100%;
	height: 100%;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
}

.flips1_front {
	padding: 0px;
	width: 100%;
	z-index: 2;
}

.flips1_front img {
	width: 100%;
	height: 259px;
}

.flips1_front img.full {
	width: 100%;
	height: auto;
}

.flips1_back {
	width: 100%;
	padding: 50px 35px;
	color: #fff;
	background-color: #222;
	z-index: 1;
	height: 320px;
	margin: 0px;
	text-align: center;
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-sand-transform: rotateY(180deg);
}

.flips1:hover .flips1_front {
	z-index: 1;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-sand-transform: rotateY(180deg);
}

.flips1:hover .flips1_back {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-sand-transform: rotate(0deg);
}

.flips1_back .fsoci {
	float: left;
	width: 100%;
	margin: 18px 0px 32px 0px;
}

.flips1_back .fsoci i {
	border-radius: 100%;
	width: 25px;
	height: 25px;
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	color: #fff;
	transition: all 0.3s ease;
}

.flips1_back .fsoci i:hover {
	background: #fff;
	color: #272727;
}

.flips2 {
	width: 100%;
	height: 320px;
	margin: 0;
	position: relative;
}

.flips2 p {
	color: #fff;
	opacity: 0.7;
}

.flipscont2 {
	width: 100%;
	height: 100%;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	background-color: #eee;
}

.flips2_front {
	padding: 0px;
	width: 100%;
	z-index: 2;
}

.flips2_front img {
	width: 100%;
}

.flips2_back {
	width: 100%;
	padding: 50px 35px;
	color: #fff;
	background-color: #222;
	z-index: 1;
	height: 320px;
	margin: 0px;
	text-align: center;
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-sand-transform: rotateX(180deg);
}

.flips2:hover .flips2_front {
	z-index: 1;
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
	-sand-transform: rotateX(180deg);
}

.flips2:hover .flips2_back {
	z-index: 2;
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-sand-transform: rotate(0deg);
}

.testimonials-white.parallax-content {
	padding: 0;
}

.testimonials-white.parallax-content .col-md-6 {
	padding: 120px 30px;
}

.no-margin {
	margin: 0 !important;
}

.dropcap {
	line-height: 18px;
	font-size: 15px;
	padding: 20px 0 20px 0;
}

.dropcap .dropcap-square {
	border: 2px solid #e5e5e5;
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 32px;
	text-align: center;
	color: #999;
	font-family: Josefin Sans;
	margin: 8px 10px 0px 0px;
}

.dropcap .dropcap-radius {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 32px;
	text-align: center;
	color: #2f4870;
	font-family: 'Bellota Text', sans-serif;

}

.dropcap .dropcap-round {
	border: 2px solid #E5E5E5;
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 58px;
	font-size: 32px;
	text-align: center;
	border-radius: 50%;
	color: #999;
	font-family: Josefin Sans;
	margin: 8px 10px 0px 0px;
}

.dropcap-dark .dropcap-square {
	border: 2px solid #222;
	color: #222;
}

.dropcap-color .dropcap-square {
	border: 2px solid #ecb124;
	color: #ecb124;
}

.dropcap-dark .dropcap-radius {
	border: 2px solid #222;
	background: #222;
	color: #fff;
}

.dropcap-color .dropcap-radius {
	border: 2px solid #ecb124;
	background: #ecb124;
	color: #fff;
}

.dropcap-dark .dropcap-round {
	border: 2px solid #222;
	background: #222;
	color: #fff;
}

.dropcap-color .dropcap-round {
	border: 2px solid #ecb124;
	background: #ecb124;
	color: #fff;
}

.timeline {
	list-style: none;
	padding: 20px 0 50px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline:after {
	content: "";
	width: 30px;
	height: 30px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: -1px;
	right: 0;
	display: table;
	margin: 0 auto;
	border-radius: 50%;
	border: 4px solid #eeeeee;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
        .timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
        .timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 45%;
	float: left;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 30px 30px 27px;
	position: relative;
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 70px;
	height: 70px;
	line-height: 78px;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 4px;
	left: 50%;
	margin-left: -35px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
	color: #000;
	margin: 0 0 12px;
	font-size: 20px;
	text-transform: uppercase;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}

	ul.timeline > li > .timeline-panel {
		width: calc(100% - 105px);
		width: -moz-calc(100% - 105px);
		width: -webkit-calc(100% - 105px);
	}

	ul.timeline > li > .timeline-badge {
		left: 7px;
		margin-left: 0;
		top: 16px;
	}

	ul.timeline > li > .timeline-panel {
		float: right;
	}

	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}

	.timeline::after {
		left: 24px;
		right: auto;
	}
}

.event-list li {
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	border: 1px solid #F2EDED;
}

.event-list li time, .event-list li img {
	width: 110px;
	height: 110px;
	padding: 0px;
	margin: 0px;
	float: left;
	display: inline;
}

.event-list li time {
	color: #fff;
	background: #E91E63;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}

.event-list li:nth-child(2) time {
	background: #673AB7;
}

.event-list li:nth-child(3) time {
	background: #ecb124;
}

.event-list li time .day {
	display: block;
	font-size: 41px;
	font-weight: 300;
	margin: 7px 0 -5px;
	font-family: Josefin Sans;
}

.event-list li time .month {
	font-size: 16px;
	font-weight: 300;
}

.event-list li time .year {
	font-size: 16px;
	font-weight: 700;
}

.event-list li .info {
	padding: 15px 30px;
	height: 110px;
	border-left: 0px;
	border-radius: 0 3px 3px 0;
	float: left;
}

.event-list li .info h2 {
	font-size: 16px;
	color: #000;
	display: table;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	font-weight: 700;
}

.event-list li .info h2 span {
	display: block;
	font-family: Josefin Sans;
	font-size: 12px;
	color: #222;
	letter-spacing: 0px;
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: 700;
}

.event-list li .info h2 span + span {
	display: block;
	font-family: Josefin Sans;
	font-size: 11px;
	color: #777;
	letter-spacing: 0px;
	margin-top: 15px;
	text-transform: none;
	font-weight: 400;
}

.ticket {
	position: absolute;
	top: 50%;
	right: 25px;
	font-size: 27px;
	margin-top: -18px;
	opacity: 0.3;
}

.ticket:hover {
	opacity: 1;
}

.cta-wrap {
	padding: 80px 0 65px;
}

.cta-wrap h2 {
	margin: 0 0 7px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
}

.cta-wrap.bg-dark h2 ,
.cta-wrap.bg-primary h2 {
	color: #fff;
}

.cta-wrap.bg-dark p ,
.cta-wrap.bg-primary p {
	color: #fff;
	opacity: 0.5;
}

.cta-wrap.bg-dark .cta-btn ,
.cta-wrap.bg-primary .cta-btn {
	color: #fff;
	border: 2px solid #fff;
}

.cta-btn:hover {
	background: #ecb124;
	border: 2px solid #ecb124;
	color: #fff;
}

.cta-wrap.bg-dark .cta-btn:hover {
	color: #fff;
	background: #ecb124;
	border: 2px solid #ecb124;
}

.cta-wrap.bg-primary .cta-btn:hover {
	color: #fff;
	background: #222;
	border: 2px solid #222;
}

.gold, .silver, .plat {
	text-align: center;
	padding: 30px 50px 50px;
	border-radius: 7px;
	box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.2);
}

.gold {
	position: relative;
	top: 0px;
	background: #343434;
	text-align: center;
	border: 1px solid #343434;
}

.pricing2 .gold > .price {
	background: #fff;
	color: #222;
}

.pricing2 .gold > h1, .pricing2 .gold > h2, .pricing2 .gold > p, .pricing2 .gold > span {
	color: #fff;
}

.pricing2 .price {
	height: 120px;
	width: 120px;
	text-align: center;
	background-color: #ecb124;
	border-radius: 50%;
	line-height: 120px;
	color: #fff;
	font-size: 40px;
	font-family: Josefin Sans;
	font-weight: 400;
	margin: 20px auto;
}

.pricing2 h1 {
	margin: 20px 0 10px 0;
	font-size: 28px;
	color: #000;
	font-weight: 700;
}

.pricing2 h2 {
	font-size: 11px;
	color: #777;
	font-weight: 300;
	letter-spacing: 0.2px;
}

.pricing2 p {
	color: #444;
	margin: 10px 0;
	font-weight: 100;
	font-size: 14px;
}

.pricing2 span {
	margin-bottom: 20px;
	padding-bottom: 10px;
	display: inline-block;
	width: 125px;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.2px;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing2 .btn {
	background: #ecb124;
	border-color: #ecb124;
	margin: 15px auto 0;
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #fff;
	padding: 12px 35px;
}

.pricing2 .btn:hover {
	background: #343434;
	border-color: #343434;
	color: #fff;
}

.pricing2 .gold .btn:hover {
	background: #fff;
	border-color: #fff;
	color: #343434;
}

#contact-form2 {
	padding: 0;
}

#contact-form2 .google-map,
#contact-form2 #map {
	height: 640px;
}

#contact-form2 .col-md-6 {
	padding: 100px;
}

#contact-form2 .col-md-6 .col-md-6 {
	padding: 0px 15px;
}

#contact-form2 h3 {
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 10px;
}

#contact-form2 #contactForm input {
	padding: 0px;
	border-bottom: 2px solid #e5e5e5;
	box-shadow: none !important;
	color: #000 !important;
}

#contact-form2 #contactForm textarea {
	padding: 15px 0px;
	border-bottom: 2px solid #e5e5e5;
	box-shadow: none !important;
	color: #000 !important;
}

input:focus, textarea:focus {
	box-shadow: none;
	outline: 0;
}

.footer2 {
	background: #c9c9c9;
}

.footer2 #contactForm input {
	height: 43px;
	padding: 0 20px;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 400;
	width: 100%;
	margin: 0 0 10px;
	background: #222;
	border: none;
	border-radius: 5px;
	color: #fff;
	border-top: 1px solid #414141;
}

.footer2 #contactForm textarea {
	height: 80px;
	padding: 12px 20px;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 400;
	width: 100%;
	margin: 0 0 20px;
	background: #222;
	border: none;
	border-radius: 5px;
	color: #fff;
	border-top: 1px solid #414141;
}

.footer2 h5 {
	color: #000;
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
	margin: 10px 0px 5px;
	font-size: 16px;
	letter-spacing: 0px;
}

.footer2 .footer-logo {
	line-height: 20px;
	color: #fff;
	margin-bottom: 20px;
	display: block;
}

.footer2 p {
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.footer2 .footer-social a {
	font-size: 19px;
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 30px;
	color: #000;
}

.footer2 .footer-social {
	padding-left: 0;
	margin-top: -30px;
}

.subscribe-elt .intro-newsletter {
	width: 100%;
	position: relative;
}

.subscribe-elt .intro-newsletter input {
	height: 66px;
	padding: 0 150px 0 25px;
	font-size: 16px;
	letter-spacing: 0.04em;
	font-weight: 400;
	width: 100%;
	border: none;
	border-radius: 0px;
	background: transparent;
	border: 1px solid #555;
	color: #fff;
	border-radius: 3px;
}

.subscribe-elt .intro-newsletter button {
	border-radius: 3px;
	position: absolute;
	top: 11px;
	right: 10px;
	width: 100px;
	font-size: 11px;
	height: 45px;
}

.subscribe-elt h5 {
	color: #ddd;
	font-size: 18px;
	line-height: 26px;
	width: 75%;
	letter-spacing: 0px;
	font-weight: 400;
	margin-top: 5px;
}

.subscribe-elt2 h5 {
	font-family: Josefin Sans;
	font-size: 40px;
	color: #000;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-align: center;
	width: 100%;
}

.subscribe-elt2 p {
	color: #777;
	text-align: center;
	width: 100%;
	letter-spacing: 0.2px;
	opacity: 0.4;
	padding: 10px 0 15px;
}

.subscribe-elt2 .intro-newsletter input {
	height: 50px;
	padding: 0 20px;
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 400;
	width: 100%;
	border: none;
	border-radius: 0px;
	background: transparent;
	border: 1px solid #e5e5e5;
	color: #000;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 700;
}

.subscribe-elt2 .intro-newsletter button {
	border-radius: 3px;
	position: relative;
	top: 0px;
	right: 0px;
	width: 100%;
	font-size: 14px;
	height: 50px;
}

.subscribe-elt2 {
	padding: 150px 0 160px 0;
}

.subscribe-elt3 h5 {
	font-family: Josefin Sans;
	font-size: 40px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-align: center;
	width: 100%;
}

.subscribe-elt3 p {
	color: #fff;
	text-align: center;
	width: 100%;
	letter-spacing: 0.2px;
	opacity: 0.4;
	padding: 10px 0 15px;
}

.services-s5 .service-content i {
	display: table;
	font-size: 40px;
	margin: 0 auto 20px;
	padding: 0px;
	cursor: pointer;
	background: transparent;
	text-decoration: none;
	color: #d1d1d1;
	width: 90px;
	height: 90px;
	line-height: 88px;
	border-radius: 50%;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	text-align: center;
}

.services-s5 .service-content i:after {
	content: '';
	position: absolute;
	border: #d1d1d1 solid 2px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
	border-radius: 50%;
}

.services-s5 .service-content:hover i:after {
	top: -6px;
	right: -6px;
	bottom: -6px;
	left: -6px;
	border: #ecb124 solid 3px;
}

.services-s5 .service-content:hover i {
	color: #fff;
	background: #ecb124;
}

.services-s5 .service-content h4 {
	font-size: 19px;
	margin: 5px 0 14px;
	text-align: center;
	font-weight: 700;
}

.services-s5 .service-content p {
	font-size: 13px;
	text-align: center;
}

.icon-features {
	background: #222;
	padding: 80px 0;
}

.feature-left {
	margin: 80px 0 0;
	text-align: right;
	padding-right: 30px;
}

.feature-left li {
	margin-bottom: 30px;
}

.feature-left li i {
	font-size: 45px;
	color: #ecb124;
}

.fl-content h4 {
	margin: 30px 0 10px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.fl-content p {
	font-size: 14px;
	padding-left: 40px;
	color: #fff;
	opacity: 0.5;
	margin-bottom: 40px;
}

.feature-right {
	margin: 80px 0 0;
	text-align: left;
	padding-left: 30px;
}

.feature-right li {
	margin-bottom: 30px;
}

.feature-right li i {
	font-size: 45px;
	color: #ecb124;
}

.fr-content h4 {
	margin: 20px 0 10px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.fr-content p {
	font-size: 14px;
	padding-right: 40px;
	color: #fff;
	opacity: 0.5;
	margin-bottom: 40px;
}

.quote3 p {
	padding: 1px 10px 15px;
	font-size: 15px;
	font-style: italic;
	color: #777;
}

.quote3 div {
	margin: 0 15px;
}

.quote3 div img {
	max-width: 70px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #ecb124;
}

.quote3 .slick-dots {
	margin: 50px auto;
	position: relative;
	left: 0;
	display: table !important;
}

.quote3 .slick-dots li {
	float: left;
	margin-right: 7px;
}

.quote3 .slick-dots li button {
	border: none;
	width: 8px;
	height: 8px;
	font-size: 0px;
	padding: 0;
	border-radius: 50%;
	opacity: 0.2;
	border: 1px solid #000;
}

.quote3 .slick-dots li.slick-active button {
	opacity: 1;
}

.multi-content {
	background: #ecb124;
	padding: 100px 0;
}

.multi-content h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0px;
}

.multi-content h2 {
	color: #fff;
	font-size: 34px;
	letter-spacing: 0px;
	padding: 10px 0 15px;
}

.multi-content p {
	color: #fff;
	opacity: 0.7;
}

.multi-content img {
	position: relative;
	top: 100px;
	margin-top: -100px;
	margin-bottom: -100px;
	max-width: 100%;
}

.multi-features {
	background: #343434;
	padding: 140px 0 100px;
}

.multi-features h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0px 0px 18px;
	letter-spacing: 0;
}

.multi-features h4 i {
	font-size: 24px;
	margin-right: 15px;
	position: relative;
	top: 4px;
}

.multi-features p {
	color: #888;
	font-size: 14px;
}

.cf2-wrap {
	max-width:600px;
}

.parallax5  .col-md-6.bg-dark {
	max-width:800px;
}


#contact-form2 {
	max-width: 1200px;
	margin: 0 auto;
}


@media only screen and (min-width: 993px)  and (max-width: 4000px) {

	.center-content {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}
.footerP p:hover{
	color:#ecb124;
}

.body-bg {
    background: #dde7f6;
}


#toTop {
    width:100px;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px;
    left:10px;
    cursor:pointer;
    display:none;
    z-index: 999999;
}

.advice-intro h4{
    text-indent: 25px;
    font-size: 20px;
    line-height: 26px;;
}

.carousel {
 margin-top: 20px;
}
.item .thumb {
 width: 33.3%;
 cursor: pointer;
 float: left;
}
.item .thumb img {
 width: 100%;
 margin: 2px;
}
.item img {
 width: 100%;
}

.vertical{
display:inline;
vertical-align: middle;
}

.arrows{
margin-top: 50px;
}

.bg-table{
    background: #fff;
}

.bg-table th {
	font-size: 20px;
	font-weight: 600;

}

.bg-table td {
	font-size: 18px;
}


.price-block{
    background: #dde7f6;
    background-size: cover;
}