<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Потолочный мастер</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

         <!-- FAVICON -->
    <link rel="shortcut icon" href="static/images/favicon.html">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

    <!-- ICONS -->
    <link rel="stylesheet" href="{% static "css/icons/fontawesome/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/icons/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/icons/icon2/style.css" %}" />
    <link rel="stylesheet" href="{% static "js/vendors/swipebox/css/swipebox.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/ilmosys-icons.css" %}" />

    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="{%static "js/vendors/slick/slick.css" %}" />
    <link rel="stylesheet" href="{%static "css/style.css" %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//code-ya.jivosite.com/widget/iPw4v4AtXZ" async></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">

<div class="body">
    <!-- HEADER -->
    <header>
        <nav class="navbar-inverse navbar-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand brand"><img
                            src="{% static "images/logo.png" %}" class="img-fluid"/></a>
                </div>
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown mm-menu">
                            <a href="index">Главная</a>
                        </li>
                        <li class="dropdown">
                            <a href="ceiling_kind">Виды потолков</a>
                        </li>
                        <li class="dropdown mm-menu">
                            <a href="price">Цены</a>
                        </li>
                        <li class="dropdown">
                            <a href="gallery">Готовые работы</a>
                        </li>
                        <li class="dropdown">
                            <a href="advice">Советы мастера</a>
                        </li>
                        <li class="dropdown">
                            <a href="review">Отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="intro intro8">
    <div class="advice-intro">
        <div class="container">
            <div class="row center-content">
                <div class="col-md-8">
                    <h3>Cоветы мастера</h3>
                    <div class="text-justify">
                    <h4>Натяжные потолки выгодно выделяются на фоне обычных способов отделки потолочной площади,
                        а всё благодаря ряду преимуществ. Плёнки сохраняют привлекательный вид в течение
                        длительного времени, не выгорают на солнце и не деформируются. Установка натяжного
                        потолка позволяет легко скрывать дефекты перекрытия, маскировать электропроводку и
                        другие коммуникации. Ещё один плюс – полотно надёжно защищает комнату при затоплении
                        сверху, ведь вся вода скапливается в одном месте и легко устраняется через небольшое
                        отверстие. К тому же натяжные системы не скрадывают высоту помещения, как подвесные
                        конструкции. Чтобы оформление потолочного перекрытия смотрелось максимально привлекательно,
                        необходимо знать, как выбрать натяжной потолок.</h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="{% static "images/advice/1.jpg" %}" / class="img-fluid img-responsive" alt=""/>
                </div>

<!-- Модальное окно -->

            </div>
        </div>
        </div>
    </div>

    <div class="elements-content">
		<div class="container">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h4 class="text-uppercase space20">Выбор натяжного потолка</h4>
                            <div class="text-justify">
							<p>В зависимости от материала изготовления и типа поверхности, натяжные потолки
                                бывают трёх видов: глянцевые, матовые, тканевые. С подробным описанием вы можете
                                ознакомиться на странице виды потолков.</p>
                            <p>Исходя из типа применяемого полотна,
                                при монтаже могут использоваться различные расходные материалы: потолочные и
                                разделительные профили, багеты для криволинейных участков, маскирующие ПВХ ленты,
                                платформы под встраиваемые светильники и многое другое. Также стоит учитывать,
                                какой лучше натяжной потолок подходит для конкретного помещения: для кухни больше
                                всего подойдут матовые полотна нейтральных оттенков из ПВХ плёнки, которые можно
                                легко очищать от жировых пятен, в то время, как для детской комнаты можно
                                присмотреть яркие полотна с различными аппликациями и рисунками.</p>
                            <p>При выборе натяжного потолка крайне важно определиться с тем, какие потолочные светильники
                                подойдут для конкретной комнаты. Купить подвесные светильники можно в том случае, если
                                высота стен больше 2.5 метров, иначе люстра будет визуально делать помещение низким, а свет
                                будет неравномерно распределяться по отдельным зонам. Очень популярными считаются встраиваемые
                                светильники, которые будто сливаются с потолком. Такие осветительные устройства подходят для
                                любых помещений, главное правильно подобрать места расположения, размеры и форму источников света.</p>
                            </div>
                                <div class="blog-content blog-full-3col">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
						<img src="{% static "images/advice/2.jpg" %}" class="img-responsive post-thumb" alt=""/>
                        <div class="center-block center-align">
						Подвесная люстра
                        </div>
				</div>

				<div class="col-md-4">
                    <img src="{% static "images/advice/3.jpg" %}" class="img-responsive post-thumb" alt=""/>
                        <div class="center-block center-align">
                        Точечные светильники
                        </div>
				</div>

				<div class="col-md-4">
						<img src="{% static "images/advice/4.jpg" %}" class="img-responsive post-thumb" alt=""/>
                        <div class="center-block center-align">
						Карниз для штор
                        </div>
				</div>
			</div>

				</div>
			</div>
                        </div>
                        <div class="text-justify">
                            <p>Прежде чем осуществлять монтаж натяжного потолка, важно продумать и тип гардин. Настенные
                                карнизы являются классическим вариантом, который подходит для любых типов конструкций.
                                Установка изделий очень проста – они крепятся к стене дюбелями или саморезами. Данный вид
                                карнизов отличается долговечностью и удобством эксплуатации. Отдельного внимания заслуживают
                                скрытые потолочные гардины, которые экономят пространство и подходят даже для помещений с
                                невысокими стенами.</p>
                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="clearfix"></div>
        <!-- FOOTER -->
        <footer class="footer2" id="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <a href="index-2.html" class="footer-logo"><img
                                src="{% static "images/logo.png" %}" /></a>
                        <div class="space20"></div>
                    </div>

                    <div class="col-md-5 right-align">
                        <h5>Контакты</h5>

                        <div class="footer-social space10">
                            <a href="#" class="fa fa-vk"></a>
                            <a href="#" class="fa fa-odnoklassniki"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                        <p>г. Новосибирск, +7 953 798 72 98</p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- COPYRIGHT -->
        <div class="footer-copy">
            <div class="container">
                &copy; 2020. Потолочный мастер.
            </div>
        </div>
    </div>


<!-- JAVASCRIPT =============================-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendors/slick/slick.min.js" %}"></script>
    <script src="{% static "js/vendors/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/vendors/stellar.js" %}"></script>
    <script src="{% static "js/vendors/isotope/isotope.pkgd.js" %}"></script>
    <script src="{% static "js/vendors/swipebox/js/jquery.swipebox.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/vendors/mc/jquery.ketchup.all.min.js" %}"></script>
    <script src="{% static "js/vendors/mc/main.js" %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{% static "js/vendors/gmap.js" %}"></script>

</body>

</html>


