<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Потолочный мастер</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

         <!-- FAVICON -->
    <link rel="shortcut icon" href="static/images/favicon.html">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

    <!-- ICONS -->
    <link rel="stylesheet" href="{% static "css/icons/fontawesome/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/icons/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/icons/icon2/style.css" %}" />
    <link rel="stylesheet" href="{% static "js/vendors/swipebox/css/swipebox.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/ilmosys-icons.css" %}" />

    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="{%static "js/vendors/slick/slick.css" %}" />
    <link rel="stylesheet" href="{%static "css/style.css" %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//code-ya.jivosite.com/widget/iPw4v4AtXZ" async></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">

<div class="body">
    <!-- HEADER -->
    <header>
        <nav class="navbar-inverse navbar-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand brand"><img
                            src="images/logo.png"></a>
                </div>

                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown mm-menu">
                            <a href="index.html">Главная</a>
                        </li>
                        <li class="dropdown">
                            <a href="ceiling-kind.html">Виды потолков</a>
                        </li>
                        <li class="dropdown mm-menu">
                            <a href="price.html">Цены</a>
                        </li>
                        <li class="dropdown">
                            <a href="gallery.html">Готовые работы</a>
                        </li>
                        <li class="dropdown">
                            <a href="advice.html">Советы мастера</a>
                        </li>
                        <li class="dropdown">
                            <a href="review.html">Отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- INFO CONTENT -->
        <div class="space100 other-menu">
        </div>
    <!-- INTRO -->

        <div class="intro intro-benifits">

        <div class="row center-content">
            <div class="container">
                <div class = "space30"></div>

                <div class="col-md-10 benifits col-md-push-1">
                    <h3>Наши цены</h3> <br/>
                    <p>Окончательная стоимость производства и установки натяжного полотна
                        зависит от объема работ. Важно знать, насколько большая
                        ремонтируемая комната, какие были выбраны дизайн и освещение,
                        а также учесть все особенности помещения. Ниже представлена
                        стоимость основных работ мастера при монтаже натяжного потолка.
                        Цены на источники освещения и гардины в таблице не указаны. </p>
                    <br/>
                    <div class="space30"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- ELEMENTS - ACCORDION -->
	<div class="elements-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="section-head text-center space30">
						<h3>По типу материала</h3>
					</div>
					<div class="clearfix"></div>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									ПВХ (плёночные)
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									Если говорить о доступной, качественной и долговечной отделке,
                                    то натяжной потолок – это одно из лучших решений. Среди этой
                                    группы материалов около 90% рынка декора занимают
                                    поливинилхлоридные полотна. Это и не удивительно, учитывая,
                                    что натяжные потолки ПВХ предоставляют возможность всего за
                                    несколько часов работы получить идеально ровную, красивую и
                                    не нуждающуюся в уходе поверхность.
                                    При минимуме недостатков у них большое количество достоинств,
                                    что и предопределяет спрос. Кроме того, огромное преимущество – это цена,
                                    доступная для любого человека.
                                    К основным достоинствам натяжных потолков ПВХ следует отнести:
                                    <p>
                                    <ol>
                                        <li>Эстетичность;</li>
                                        <li>Прочность;</li>
                                        <li>Долговечность;</li>
                                        <li>Пожаробезопасность;</li>
                                        <li>Влагостойкость;</li>
                                        <li>Экологичность;</li>
                                        <li>Вариативность.</li>
                                    </ol>
                                    </p>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Тканевые
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
                                    Главная особенность данного типа материалов – в его основе лежит не поливинилхлоридная пленка, а полиэстер, обработанный полиуретаном. Благодаря этому он многократно прочнее по сравнению с ПВХ-аналогами. Ширина ткани может составлять до пяти метров, что позволяет обойтись без шовных соединений даже в достаточно больших по площади комнатах.
Основные достоинства тканевых потолков:
                                    <ol>
                                        <li>Устойчивы к повреждениям и разрывам;</li>
                                        <li>Экологически безопасны;</li>
                                        <li>Улучшают звукоизоляцию;</li>
                                        <li>Не выгорают и не желтеют.</li>
                                    </ol>
В то время как к недостаткам относятся влагонепроницаемость и невозможность повторного монтажа.
                                </div>
							</div>
						</div>

                        <div class="section-head text-center space30">
						<h3>По фактуре полотна</h3>
					</div>
                        <div class = 'space20'> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

        <!-- FOOTER -->
        <footer class="footer2" id="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <a href="index-2.html" class="footer-logo"><img
                                src="images/dark_logo.png"></a>
                        <div class="space20"></div>
                    </div>

                    <div class="col-md-5 right-align">
                        <h5>Контакты</h5>

                        <div class="footer-social space10">
                            <a href="#" class="fa fa-vk"></a>
                            <a href="#" class="fa fa-odnoklassniki"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                        <p>г. Новосибирск, +7 953 798 72 98</p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- COPYRIGHT -->
        <div class="footer-copy">
            <div class="container">
                &copy; 2020. Потолочный мастер.
            </div>
        </div>
    </div>


<!-- JAVASCRIPT =============================-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendors/slick/slick.min.js" %}"></script>
    <script src="{% static "js/vendors/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/vendors/stellar.js" %}"></script>
    <script src="{% static "js/vendors/isotope/isotope.pkgd.js" %}"></script>
    <script src="{% static "js/vendors/swipebox/js/jquery.swipebox.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/vendors/mc/jquery.ketchup.all.min.js" %}"></script>
    <script src="{% static "js/vendors/mc/main.js" %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{% static "js/vendors/gmap.js" %}"></script>

</body>

</html>


