<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Потолочный мастер</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

         <!-- FAVICON -->
    <link rel="shortcut icon" href="static/images/favicon.html">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

    <!-- ICONS -->
    <link rel="stylesheet" href="{% static "css/icons/fontawesome/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/icons/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/icons/icon2/style.css" %}" />
    <link rel="stylesheet" href="{% static "js/vendors/swipebox/css/swipebox.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/ilmosys-icons.css" %}" />

    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href="{%static "js/vendors/slick/slick.css" %}" />
    <link rel="stylesheet" href="{%static "css/style.css" %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">

<div class="body">
    <!-- HEADER -->
    <header>
        <nav class="navbar-inverse navbar-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand brand"><img
                            src="{% static "images/logo.png" %}" /></a>
                </div>

                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown mm-menu">
                            <a href="index">Главная</a>
                        </li>
                        <li class="dropdown">
                            <a href="ceiling-kind">Виды потолков</a>
                        </li>
                        <li class="dropdown mm-menu">
                            <a href="price">Цены</a>
                        </li>
                        <li class="dropdown">
                            <a href="gallery">Готовые работы</a>
                        </li>
                        <li class="dropdown">
                            <a href="advice">Советы мастера</a>
                        </li>
                        <li class="dropdown">
                            <a href="review">Отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- INFO CONTENT -->
        <div class="space100 other-menu">
        </div>
    <!-- INTRO -->

        <div class="intro intro-benifits">

        <div class="row center-content">
            <div class="container">
                <div class = "space30"></div>

                <div class="col-md-10 benifits col-md-push-1">
                    <h3>Наши цены</h3> <br/>
                    <p>Окончательная стоимость производства и установки натяжного полотна
                        зависит от объема работ. Важно знать, насколько большая
                        ремонтируемая комната, какие были выбраны дизайн и освещение,
                        а также учесть все особенности помещения. Ниже представлена
                        стоимость основных работ мастера при монтаже натяжного потолка.
                        Цены на источники освещения и гардины в таблице не указаны. </p>
                    <br/>
                    <div class="space30"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="table-wrap col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Наименование работы</th>
						<th>До 15 кв.м.</th>
                        <th>От 15 до 50 кв.м.</th>
                        <th>От 50 кв.м.</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Монтаж полотна ПВХ, Китай (включая стоимость материала)</td>
						<td>350 руб./кв.м.</td>
                        <td>330 руб./кв.м.</td>
                        <td>300 руб./кв.м.</td>
                    </tr>
					<tr>
						<td>Монтаж полотна ПВХ, Германия (включая стоимость материала)</td>
						<td>650 руб./кв.м.</td>
                        <td>600 руб./кв.м.</td>
                        <td>550 руб./кв.м.</td>
                    </tr>
					<tr>
						<td>Монтаж тканого полотна эконом, Франция (включая стоимость материала)</td>
						<td>1000 руб./кв.м.</td>
						<td>900 руб./кв.м.</td>
                        <td>800 руб./кв.м.</td>
					</tr>
                    <tr>
						<td>Монтаж тканого полотна стандарт, Франция (включая стоимость материала)</td>
						<td>2000 руб./кв.м.</td>
						<td>1800 руб./кв.м.</td>
                        <td>800 руб./кв.м.</td>
					</tr>
                    <tr>
						<td>Монтаж багета</td>
						<td>170 руб./ м.п.</td>
						<td>160 руб./ м.п.</td>
                        <td>150 руб./ м.п.</td>
					</tr>
                    <tr>
						<td>Дополнительные углы</td>
						<td>150 руб./ шт.</td>
						<td>140 руб./ шт.</td>
                        <td>130 руб./ шт.</td>
					</tr>
                    <tr>
						<td>Обвод трубы</td>
						<td>250 руб./ шт.</td>
						<td>250 руб./ шт.</td>
                        <td>250 руб./ шт.</td>
					</tr>
                    <tr>
						<td>Установка люстры</td>
						<td>500 руб./ шт.</td>
						<td>400 руб./ шт.</td>
                        <td>400 руб./ шт.</td>
					</tr>
                    <tr>
						<td>Установка встраиваемых светильников</td>
						<td>300 руб./ шт.</td>
						<td>250 руб./ шт.</td>
                        <td>250 руб./ шт.</td>
					</tr>
                    <tr>
						<td>Установка ниши под гардину</td>
						<td>350 руб./ м.п.</td>
						<td>350 руб./ м.п.</td>
                        <td>300 руб./ м.п.</td>
					</tr>
				</tbody>
			</table>
    </div>
        </div>


        <!-- ABOUT -->
    <div class="space30"></div>

    <div class="intro intro-benifits">

        <div class="row center-content">

            <div class="container">
                <div class = "space30"></div>

                <div class="col-md-10 benifits col-md-push-1">
                    <p>Компания «Потолочный мастер» - это не только услуги по
                        производству и монтажу полотен, но и широкий спектр
                        сопутствующих услуг. Мы выполним любой ремонт натяжных
                        потолков, а при необходимости произведем частичный или
                        полный демонтаж.  </p>
                    <br/>
                    <div class="space30"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="container">
    <div class="col-md-6 col-md-offset-3">
			<table class="table table-wrap2">
				<thead>
					<tr>
						<th>Наименование работы</th>
						<th>Cтоимость</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Слив воды</td>
						<td>от 3000 руб.</td>
                    </tr>
					<tr>
						<td>Устранение порезов</td>
						<td>от 3000 руб.</td>
                    </tr>
					<tr>
						<td>Демонтаж</td>
						<td>от 3500 руб.</td>
					</tr>
                    <tr>
						<td>Замена полотна</td>
						<td>400 руб./кв.м.</td>
					</tr>
                    <tr>
						<td>Замена освещения или гардины</td>
						<td>200 руб./шт.</td>
					</tr>
				</tbody>
			</table>
    </div>
        </div>
</div>



    <div class="intro intro-benifits">

        <div class="row center-content">

            <div class="container">
                <div class = "space30"></div>

                <div class="col-md-10 benifits col-md-push-1">
                    <p>*Точная стоимость зависит от площади покрытия, типа
                        крепления, количества уровней, наличия осветительных
                        приборов и много другого. Подробности по телефону +79537987298  </p>
                    <br/>
                    <div class="space30"></div>
                </div>
            </div>
        </div>
    </div>

        <!-- FOOTER -->
        <footer class="footer2" id="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <a href="index-2.html" class="footer-logo"><img
                                src="{% static "images/dark_logo.png" %}" /></a>
                        <div class="space20"></div>
                    </div>

                    <div class="col-md-5 right-align">
                        <h5>Контакты</h5>

                        <div class="footer-social space10">
                            <a href="#" class="fa fa-vk"></a>
                            <a href="#" class="fa fa-odnoklassniki"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                        <p>г. Новосибирск, +7 953 798 72 98</p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- COPYRIGHT -->
        <div class="footer-copy">
            <div class="container">
                &copy; 2020. Потолочный мастер.
            </div>
        </div>
    </div>


<!-- JAVASCRIPT =============================-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendors/slick/slick.min.js" %}"></script>
    <script src="{% static "js/vendors/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/vendors/stellar.js" %}"></script>
    <script src="{% static "js/vendors/isotope/isotope.pkgd.js" %}"></script>
    <script src="{% static "js/vendors/swipebox/js/jquery.swipebox.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/vendors/mc/jquery.ketchup.all.min.js" %}"></script>
    <script src="{% static "js/vendors/mc/main.js" %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</body>

</html>


